# If you run azd up, the write_dot_env script will write a .env file like this for you!
AZURE_AI_CHAT_DEPLOYMENT=gpt-5.4
AZURE_AI_ENDPOINT=
AZURE_AI_PROJECT=
AZURE_AI_FOUNDRY=
AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP=
